.auth-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.auth-page .title-section {
    position: absolute;
    top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-height: 5vh;
    font-size: 1.3em;
    color: white;
}

.auth-page .title-section .subheading {
    font-size: 17px;
    color: var(--accent-color-1);
}

.auth-page .mission {
    flex-basis: 0;
    position: absolute;
    left: 20px;
    top: 20px;
}

.auth-window-container {
    position: relative;
    padding: 10vh 0 3vh 0;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px var(--accent-color-4);
    border-radius: 8px;
    width: 40vw;
    min-height: 35vh;
    background-color: var(--addCard-theme);
    color: var(--accent-color-1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.auth-window-container input {
    background-color: rgb(151, 151, 151);
    color: white;
}

.auth-window-container ul {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.auth-window-container li {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 20px;
}

li.email-pass {
    display: flex;
    flex-direction: column;

    gap: 3px;
}

li.email-pass label {
    width: 100%;
    font-size: 15px;
    color: var(--accent-color-1);
}

.auth-window-container li label {
    /*     display: flex;
    justify-content: center; */
    align-self: center;
    justify-self: center;
}

/* .auth-window-container li .pass {
    margin-bottom: 20px;
} */

.auth-window-container .sign-up-button {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.auth-window-container .sign-up-button button {
    background-color: var(--accent-color-1);
    background-color: white;
    color: #757575;
    border: none;
    width: 100%;
    border-radius: 4px;
}

.auth-window-container .sign-up-button.google-btn {
    background-color: rgba(255, 255, 255, 0);
    margin: 0 50px;
}

.auth-window-container .btn-text.sign-in-with-email {
    padding-left: 0;
}

.auth-window-container .sign-up-button.guest-sign-in {
    margin-top: 20px;
}

.auth-window-container .or-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.or-container span {
    border-bottom: 1px solid var(--accent-color-1);
    height: 12px;
    width: 40%;
}

.auth-window-container .or {
    width: 20px;
    color: white;
    color: var(--accent-color-1);
}

.guest-signin-description {
    color: var(--accent-color-1);
    font-size: .8rem;
    text-align: center;
    padding-left: 5px;
}

.auth-window-container .go-to-button {
    background-color: rgba(255, 255, 255, 0);
    color: var(--accent-color-1);
    border: none;
    padding: 50px 10px 3px 10px;
}

/* google button */
.google-button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
    /* margin-top: 100px; */
}

#google-button {
    border-radius: 15px;
    margin: 20px 0 10px 0;
}

.google-btn {
    margin: 25px;
    width: 100%;
    min-width: 184px;
    max-width: 184px;
    height: 35px;
    background-color: #fcfcfc;
    border-radius: 7px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}

.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}

.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}

.google-btn .btn-text {
    display: flex;
    justify-content: center;
    padding-left: 22px;
    width: 100%;
    align-items: center;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}

.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}

.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

@media screen and (max-width: 1000px) {
    .auth-window-container ul {
        align-items: center;
    }

    /*     .auth-window-container input {
        margin-right: 0;
        padding-right: 0;
        width: 100%;
    } */

}

@media screen and (max-width: 767px) {
    .auth-window-container {
        padding: 10vh 0 3vh 0;
        margin-top: 80px;
        margin-bottom: 40px;
        width: 80vw;
        min-height: 35vh;
    }

    .auth-page .title-section .h1 {
        display: none;
    }

    .auth-page .title-section {
        top: -40px;
        min-height: 5vh;
    }

    .auth-page .title-section .subheading {
        font-size: 17px;
    }

    .guest-signin-description {
        width: 70%;
    }
}