.display-cards-container {
    height: 50vh;
    width: 20vw;
    margin-right: 10vw;
    margin-top: 20px;
    /*     background-color: rgb(138, 138, 138);
    background-color: var(--background-2); */
    overflow: auto;
    color: var(--accent-color-1);
    background-color: rgba(93, 93, 93, 0.363);
    /* background-color: var(--accent-color-1-full-trans); */
    background-color: var(--addCard-theme);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

.display-cards-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.card-list-heading {
    display: flex;
    justify-content: flex-start;
    color: var(--heading-color);
    font-size: var(--heading-size);
}

.card-list-item {
    position: relative;
    border-bottom: 1px solid var(--accent-color-1);
    border-bottom-width: 80%;
    /* border-bottom: 1px solid var(--accent-color-3); */
    padding: 30px 10px;
    margin: 0 10px;

    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.card-front-and-back {
    flex-basis: 80%;

}

.display-card-front {
    font-size: 1em;
    margin-bottom: 5px;
}

.display-card-back {
    font-size: .7em;
}

.edit-delete-buttons {
    position: absolute;
    right: 10px;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
    gap: 10%;
    max-height: 35px;

}

.edit-delete-buttons .fa-icon {
    font-size: .7em;
    margin: 0;


}

#fa-icon button {
    color: aqua;
}

.card-list-item .edit-delete-buttons button {
    color: black;
    background-color: rgba(158, 160, 148, 0);
    width: auto;
    margin: 0;
    height: 1.5em;
    padding: 0 8px;
}

.edit-delete-buttons button:hover {
    background-color: var(--accent-color-1);
    color: aliceblue;
}

@media screen and (max-width: 1200px) {
    .display-cards-container {
        width: 30vw;
    }
}

@media screen and (max-width: 700px) {
    .display-cards-container {
        /* hide on mobile for now */
        display: none;
        height: 10vh;
        width: 70vw;
        margin-right: 0vw;
        margin-top: 20px;
        scrollbar-width: 10px;
        /* Firefox */
        -ms-overflow-style: inherit;
        /* Internet Explorer and Edge */
    }

    .card-list-heading {
        /* hide on mobile for now */
        display: none;

        justify-content: flex-start;
        color: var(--heading-color);
        font-size: var(--heading-size);
    }
}