.display-cards-container {
    height: 50vh;
    width: 20vw;
    margin-right: 10vw;
    margin-top: 20px;
    /*     background-color: rgb(138, 138, 138);
    background-color: var(--background-2); */
    overflow: auto;
    color: rgb(255, 255, 255);
    background-color: rgba(93, 93, 93, 0.363);
    box-shadow: 0px 1px 8px rgb(57, 57, 57);
    border-radius: 6px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

.display-cards-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.card-list-heading {
    display: flex;
    justify-content: flex-start;
    color: var(--heading-color);
    font-size: var(--heading-size);
}

.card-list-item {
    border-bottom: 1px solid rgb(192, 203, 205);
    border-bottom-width: 80%;
    /* border-bottom: 1px solid var(--accent-color-3); */
    padding: 30px 10px;
    margin: 0 10px;
}

.display-card-front {
    font-size: 1em;
    margin-bottom: 5px;
}

.display-card-back {
    font-size: .7em;
}


@media screen and (max-width: 700px) {
    .display-cards-container {
        /* hide on mobile for now */
        display: none;
        height: 10vh;
        width: 70vw;
        margin-right: 0vw;
        margin-top: 20px;
        scrollbar-width: 10px;
        /* Firefox */
        -ms-overflow-style: inherit;
        /* Internet Explorer and Edge */
    }

    .card-list-heading {
        /* hide on mobile for now */
        display: none;

        justify-content: flex-start;
        color: var(--heading-color);
        font-size: var(--heading-size);
    }
}