.display-cards-container {
    height: 50vh;
    width: 20vw;
    margin-right: 10vw;
    margin-top: 20px;
    background-color: rgb(138, 138, 138);
    background-color: var(--background-2);
    overflow: auto;
    color: var(--text-color);
    border-radius: 6px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

.display-cards-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.card-list-heading {
    display: flex;
    justify-content: flex-start;
}

.card-list-item {
    border-bottom: 1px solid white;
    border-bottom-width: 80%;
    border-bottom: 1px solid var(--accent-color-3);
    padding: 30px 10px;
    margin: 0 10px;
}

.display-card-front {
    font-size: 1em;
}

.display-card-back {
    font-size: .7em;
}