.more-popup {
    position: absolute;
    right: 100px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5001;
    transform: translateY(-10px);
    /* adjust this value to move the popup up */
}

.more-popup-box {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}


.more-popup-content {
    color: rgb(51, 53, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.more-popup.active {
    display: flex;
}