.gpt-bot-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-height: 100vh;
}

.gpt-bot-sub-container {
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    width: 65%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0);
    /* color: aliceblue; */
    box-shadow: 0px 1px 10px rgb(26, 26, 26);
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.gpt-bot-sub-container form {
    width: 100%;
    height: 20px;

}


.gpt-bot-sub-container input {
    padding-left: 5px;
    margin-right: 25px;
    width: 88%;
    background-color: rgba(240, 248, 255, 0);
    height: 20px;
    border: none;
    outline: .5px solid rgba(234, 234, 234, 0.419);
}

.gpt-bot-sub-container input::placeholder {
    color: rgb(205, 204, 204);
}

.gpt-bot-sub-container input:focus {
    outline: none;
    box-shadow: none;
}

.gpt-bot-sub-container button {
    background-color: rgba(48, 79, 106, 0);
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 700px) {
    .gpt-bot-container {
        width: 40vw;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        max-height: 100vh;
    }

    .gpt-bot-sub-container {
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        bottom: 100px;
        width: 85%;
        height: 20%;
        background-color: rgba(0, 0, 0, 0);
        /* color: aliceblue; */
        box-shadow: 0px 1px 10px rgb(26, 26, 26);
        border-radius: 6px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;
    }

    .gpt-bot-sub-container input {
        padding-left: 5px;
        width: 63%;

    }

}