/* ----------------------- DECKS CONTAINER / row 2-------------------------- */

.decks-container {
    width: 45vw;
    height: 500px;
    padding-top: 20px;
    overflow: auto;
    /* background-color: var(--background-1); */
    background-color: var(--addCard-theme);
    color: var(--accent-color-3);
    color: var(--accent-color-1);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

.decks-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* .decks {
    display: flex;
    flex-direction: column;
} */

li.deck-list-item {
    height: auto;
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* first one is a backup color */
    border-bottom: 1px solid rgb(129, 221, 36);
    border-bottom: 1px solid rgba(128, 128, 128, 0.307);
    margin-top: 8px;
    padding-bottom: 8px;
}

li.deck-list-item:last-child {
    border-bottom: none;
}

li .deck-name {
    padding-left: 10px;
    height: auto;
    min-height: 1.1em;
    width: 90%;
    margin: auto 3%;
    overflow-x: hidden;
    overflow-y: hidden;
}

li .cards-remaining {

    margin: auto 3%;
    text-align: center;
}

.more {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.more-btn {
    font-size: .7em;
    border-width: 1.2px;
    border-radius: 3px;
    color: var(--accent-color-1);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: var(--box-shadow-2);
    height: 20px;
    display: flex;
    align-items: center;
}

.create-deck {
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 60px;
    color: aliceblue;
}

.create-deck label {
    margin-right: 8px;
    font-size: var(--heading-size);
    color: var(--heading-color);
}

.create-deck input {
    background-color: var(--background-1);
    /* border: 1px solid rgba(87, 86, 86, 0.626); */
    border: none;
}

.create-deck button {
    margin-left: 10px;
    width: 45px;
    background-color: rgba(55, 110, 158, 0);
    box-shadow: var(--box-shadow-2);
}

.faPlus-icon {
    color: white;
    color: var(--heading-color);
}

.cards-remaining {
    opacity: 0;
    transition: opacity 2s;
}

.cards-remaining.loaded {
    opacity: 1;
}


@media only screen and (max-width: 1000px) {
    .decks-container {
        width: 75vw;
        height: 60vh;
    }


}

@media only screen and (max-width: 500px) {
    .decks-container {
        width: 88vw;
        height: 65vh;
    }

    .create-deck {
        padding-top: 50px;
        padding-left: 35px;
        color: aliceblue;
    }

    .create-deck input {
        width: 40%;
    }

    .create-deck button {
        margin-left: 10px;
        width: 40px;
        background-color: rgba(55, 110, 158, 0);
        box-shadow: var(--box-shadow);
    }

}

@media only screen and (max-height: 500px) {
    .decks-container {
        width: 88vw;
        height: 55vh;
    }



}