.row-1 {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 7vh;
    width: 50vw;
}

.deck-heading {
    flex-basis: 50%;
    padding-left: 10%;
    color: rgb(187, 187, 187);
    color: var(--heading-color);
    font-size: var(--heading-size);
    margin-bottom: 5px;
}

.card-heading {
    color: rgb(187, 187, 187);
    color: var(--heading-color);
    font-size: var(--heading-size);
    padding-right: 40px;
    margin-bottom: 5px;
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    body .row-1 {
        height: 80px;
        width: 70vw;
    }

    .card-heading {
        padding-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    body .row-1 {

        height: 4vh;

    }
}