/* ----------------------- DECKS CONTAINER / row 2-------------------------- */

.decks-container {
    width: 50vw;
    height: 500px;
    padding-top: 20px;
    overflow-y: scroll;
    background-color: var(--background-2);
}

.plus {
    font-size: 1.5em;
    font-weight: 900;
    color: rgb(143, 204, 52);
    padding: 5%;
    padding-left: 15%;
    text-shadow: -0px 0px 10px rgb(129, 221, 36);
    text-shadow: -0px 0px 10px var(--accent-color-1);
}

/* .decks {
    display: flex;
    flex-direction: column;
} */

li.deck-list-item {
    position: relative;

    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* first one is a backup color */
    border-bottom: 1px solid rgb(129, 221, 36);
    border-bottom: 1px solid var(--accent-color-1);
    margin-top: 8px;
    padding-bottom: 8px;
}

li.deck-list-item:last-child {
    border-bottom: none;
}

li .deck-name {
    padding-left: 10px;
    width: 60%;
    margin: auto 3%;
}

li .cards-remaining {
    width: 20%;
    margin: auto 3%;
    text-align: center;
}

.more {
    width: 10%;
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.more-btn {
    padding-bottom: 10px;
    border-width: 1.2px;
    background-color: rgb(145, 145, 145);
    background-color: var(--accent-color-4);
    box-shadow: 0 0 0 white;
    height: 20px;
    display: flex;
    align-items: center;
}

.create-deck {
    padding-top: 50px;
    padding-left: 60px;
}

.create-deck button {
    margin-left: 10px;
    width: 60px;
}


@media only screen and (max-width: 1000px) {
    .decks-container {
        width: 75vw;
        height: 70vh;
    }
}