.row-1 {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 7vh;
    width: 50vw;
}

.deck-heading {
    flex-basis: 50%;
    padding-left: 13%;
    color: rgb(187, 187, 187);
    color: var(--heading-color);
    font-size: var(--heading-size);
    margin-bottom: 5px;
}

.card-heading {
    color: rgb(187, 187, 187);
    color: var(--heading-color);
    font-size: var(--heading-size);
    padding-right: 15%;
    margin-bottom: 5px;
    flex-basis: 53%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    body .row-1 {
        height: 80px;
        width: 70vw;
    }

    .card-heading {
        padding-right: 27%;
        flex-basis: 0%;
    }
}

@media screen and (max-width: 700px) {
    body .row-1 {
        height: 4vh;
    }

    .deck-heading {
        flex-basis: 40%;
        padding-left: 6%;
    }

    .card-heading {
        padding-right: 19%;
        flex-basis: 0%;
    }
}