.row1 {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 80px;
    width: 50vw;
}

.deckHeading {
    flex-basis: 50%;
    padding-left: 10%;
    color: rgb(187, 187, 187);
    margin-bottom: 5px;
}

.cardHeading {
    color: rgb(175, 175, 175);
    padding-right: 40px;
    margin-bottom: 5px;
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    body .row1 {
        height: 80px;
        width: 70vw;
    }

    .cardHeading {
        padding-right: 10px;
    }
}