/* -------------------------    FOOTER -------------------------- */

footer.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    margin-bottom: 20px;


}

/* footer .quote {
    flex-basis: 50%;
    display: flex;
    font-size: 1.3em;
}
 */
footer button {
    min-width: 100px;
    /* background-color: var(--addCard-theme); */
    color: var(--accent-color-1);
}

footer .login {
    position: relative;
    /* flex-basis: 50%; */
    display: flex;
    justify-content: flex-end;
    padding-left: 2vw;
}

footer .login button {
    z-index: 1000;
}

footer .logout-message {
    position: absolute;
    left: 8vw;
    bottom: 30px;
    min-width: 30vw;
    margin-left: 30px;
    height: 20px;
    /* position: absolute;
    width: auto; */
    /* right: 100px; */
}

.studycards-button {
    height: 20px;
    padding-right: 2vw;
    padding-bottom: 5px;
}

.login-to-use-features-message {
    display: flex;
    justify-content: flex-end;
    min-width: 50vw;
    font-size: .9em;
}

.custom-alert-close {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}

@media screen and (max-width: 700px) {
    footer.footer {
        height: 80px;
        margin-bottom: 0px;
    }

    footer .logout-message {

        left: 70px;
        bottom: 70px;
        min-width: 50vw;
        margin-left: 30px;
        height: 20px;
        /* position: absolute;
        width: auto; */
        /* right: 100px; */
    }

    .studycards-button span {
        display: none;
    }

    footer .login button, .studycards-button button {
        background-color: rgba(240, 248, 255, 0);
        color: var(--accent-color-1);
        box-shadow: var(--box-shadow-2);
    }

    .studycards-button {
        padding-right: 6vw;

    }

    footer .login {
        padding-left: 6vw;
    }

}


/* 
footer .quote input {

    margin-left: 20px;
    height: 30px;
    width: 350px;
    background-color: rgb(153, 169, 169);
    background-color: var(--accent-color-3);
    text-align: center;
    color: white;
    resize: horizontal;
}


footer .quote input::-webkit-input-placeholder {
    text-align: center;
}


footer .quote input::placeholder {
    color-scheme: light;
    color: white;
    text-align: center;
}


footer .quote input:focus {
    color: rgb(0, 0, 0);
    background-color: var(--accent-color-3);
}
*/