:root {
  font-family: 'Roboto Flex', sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  font-synthesis: none;
  /*   text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  text-decoration: none;
}

*:visited {
  color: inherit;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto 5vw;
}

.add-card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto 5vw;
}