#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: au to 5vw;
}

/* -------------------------    HEADER -------------------------- */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 80px;
    margin-bottom: 30px;
}

header .mission {
    flex-basis: 50%;
    display: flex;
    font-size: 1.3em;
}

header .mission input {
    margin-left: 20px;
    height: 30px;
    background-color: rgb(38, 44, 44);
    color: white;
}

header .mission input:focus {
    background-color: rgb(82, 83, 83);
}

header .current {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}



/* -------------------------    FOOTER -------------------------- */

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 80px;
    margin-bottom: 30px;
}

footer .quote {
    flex-basis: 50%;
    display: flex;
    font-size: 1.3em;
}

footer .quote input {
    margin-left: 20px;
    height: 30px;
    width: 300px;
    background-color: rgb(38, 44, 44);
    text-align: center;
    color: white;
    resize: horizontal;
}

/* For WebKit-based browsers */
footer .quote input::-webkit-input-placeholder {
    text-align: center;
}

/* For modern browsers */
footer .quote input::placeholder {
    text-align: center;
}


footer .quote input:focus {
    background-color: rgb(82, 83, 83);
}

footer .login {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}